.statcard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: linear-gradient(90deg, #6be2d8, #627ddf);
  border-radius: 0.5rem;
  width: 12rem;
  height: 4rem;
}
.cardtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: white;
  font-family: sora;
}
