

.sidepanel {
  box-sizing: border-box;
  z-index: 11;
  background-color: #161a37;
  width: 15rem;
  height: 100vh;
  border-radius: 0 1.25rem 1.25rem 0;
  z-index: 1000;

  position: fixed;
  overflow-x: hidden;
  padding: 0;
  overflow: scroll;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
.sidepanelhead {
  box-sizing: border-box;
  font-size: 1.5rem;
  color: #ffffffa2;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.7rem;
  align-items: center;
  padding: 1.5rem 1.5rem 0 1.5rem;
  position: fixed;
  background-color: #161a37;
  width: inherit;
  border-radius: 0 1.25rem 0 0;
  z-index: 1000;
}
.mainlogo {
  width: 12rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.logotext {
  width: 8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.sidepanelcontent {
  display: flex;
  z-index: 1000;

  flex-direction: column;
  margin-top: 6rem;
  padding: 0 0.5rem;
}
.sidepanelicons {
  font-size: 1.5rem;
}
.more {
  position: absolute;
  left: 13rem;
  z-index: 1;
  user-select: none;
  transition: all 0.3s;
}

.more_active {
  position: absolute;
  left: 13rem;
  z-index: 1;
  user-select: none;
  transform: rotate(90deg);
  transition: all 0.3s;
}

.subitems {
  margin-left: 1.5rem;
  transition: all 0.3s;
}
.hamburger_menu {
  display: none;
}
.ham {
  width: 1.5rem;
  height: 2px;
  background-color: rgb(255, 255, 255);
}
.active {
  background-color: aqua;
}

@media screen and (max-width: 950px) {
    .sidepanel {
    box-sizing: border-box;
    background-color: #161a37;
    width: 15rem;
    height: 100vh;
    border-radius: 0;
    position: fixed;
    overflow-x: hidden;
    padding: 0;
    overflow: scroll;
    scrollbar-width: none;
    margin-top: 3.5rem;
    transition: ease-out 0.5s;
  }
  .inactive {
    margin-left: -15rem;
  }

  .hamburger_menu {
    background-color: #161a37;
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    z-index: 2000;
  }
}
