.header {
  /* background-color: aqua; */
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  left: 15rem;
  top: 0;
  height: 4.5rem;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 1rem 0.2rem 2rem;
  font-size: 3rem;
  font-family: "Sora", sans-serif;
  gap: 0.4rem;
  font-weight: 600;
  background-color: rgba(240, 243, 247, 0.5);
  /* border-bottom: 2px solid rgb(255, 255, 255); */
  z-index: 1000;
}
@media screen and (max-width: 600px) {
  .header {
    left: 0rem;
    height: 3.5rem;
    z-index: 0;
  }
}
@media screen and (max-width: 950px) {
  .header {
    /* position: relative; */
    left: 0rem;
    height: 5rem;
    z-index: 0;
    font-size: 2rem;
    padding: 1rem 0 1.2rem 4rem;
    padding-bottom: 1.2rem;
    /* margin: 0 2rem; */
    margin-top: 0rem;
    z-index: 1000;
  }
}
@media screen and (max-width: 450px) {
  .header {
    /* position: relative; */
    left: 0rem;
    height: 5rem;
    z-index: 0;
    font-size: 1.5rem;
    padding: 0.5rem 0 1.2rem 3.5rem;
    padding-bottom: 1.2rem;
    /* margin: 0 2rem; */
    margin-top: 0rem;
    z-index: 1000;
    border-bottom: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.7);
  }
}
