.header {
  /* background-color: aqua; */
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  left: 15rem;
  top: 0;
  height: 5rem;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 1rem 1rem 2rem;
  font-size: 2rem;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  background-color: rgba(240, 243, 247, 0.5);
  border-bottom: 2px solid rgb(255, 255, 255);
}
@media screen and (max-width: 600px) {
  .header {
    left: 0rem;
    height: 3.5rem;
  }
}
