.subitem {
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
  margin-bottom: 0.4rem;
  border-radius: 1rem;
  color: rgba(240, 248, 255, 0.516);
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.3s;
  gap: 1rem;
  font-size: 1rem;
  transition: all.4s;
  cursor: pointer;
}
.subitembullet {
  height: 1px;
  width: 0.5rem;
  background-color: antiquewhite;
  transition: all.4s;
  cursor: pointer;
  border-radius: 1px;
}
.subitem:hover .subitembullet {
  width: 1rem;
  background-color: green;
  transition: all.4s;
}
