.container {
  display: flex;
  flex-flow: column;
  gap: 1.8rem;
}

.container b {
  color: "red";
  font-size: "0.95rem";
  margin-left: "3px";
}

.page-titles {
  background-color: white;
  padding: 0.8rem 0 0.6rem 1rem;
  width: 95%;
  color: #828690;
  font-weight: 400;
  font-size: 1.125rem;
  border-radius: 10px;
  margin: 1rem auto 0 auto;
  height: 2rem;
  box-shadow: 2px 0px 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

/* logout button */
.pageTitleItems {
  flex: 0 0 auto;
  font-weight: 700;
}
.pageTitleItems:nth-child(3) {
  margin-left: auto;
  margin-right: 10px;
  background-color: white;
  /* border: none; */
  font-family: "Asap", sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  /* width: 100%; */
  border: 0;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #e75e46;

  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  transition: background-color 300ms;
}

.pageTitleItems:nth-child(3):hover {
  background-color: #f24353;
}

.page-titles a {
  color: #e75e46;
  font-weight: 600;
  text-decoration: none;
  margin: 0;
}

.page-body {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  /* height: 20rem; */
  margin: 0rem auto 0.5rem auto;
  gap: 1rem;
  padding: 0 1rem;
}

.profile-view {
  width: 35%;
  display: flex;
  flex-direction: column;
  /* padding: 0.8rem 0 0.6rem 1rem; */
  background-color: white;
  border-radius: 10px;
  height: 30rem;
  box-shadow: 2px 0px 1rem rgba(0, 0, 0, 0.2);
}

.heading {
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 2rem;
}

.line {
  border: 1px solid #dbdbdb;
}

.profile-edit {
  box-sizing: border-box;
  border-radius: 10px;
  width: 65%;
  background-color: white;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 2px 0px 1rem rgba(0, 0, 0, 0.2);
}

.labelheader {
  color: #777777;
  font-size: 0.8rem;
}

.details {
  padding-left: 1.5rem;
}

.inputer {
  height: 1.2rem;
  border-radius: 10px;
  border: 1px solid rgba(107, 107, 107, 0.256);
  padding: 0.6rem;
  margin-top: 0.5rem;
  outline: none;
}

.inputer:focus {
  border: 1px solid red;
  transition: ease-in-out 0.3s;
}

.single_section {
  display: flex;
  flex-flow: column;
  width: 100%;
  /* gap: 0.5rem; */
}

.double-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.7rem;
  gap: 2rem;
  width: 100%;
}

.double-labels {
  display: flex;
  flex-flow: column;
  width: 50%;
}

.emailinput {
  width: 95%;
  background-color: #dbdbdb;
  margin-bottom: 0.5rem;
}

.nicheselect {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  height: 2.2rem;
}

.personal {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 0.85rem;
  color: #636363;
}
.personal p {
  margin-bottom: 0rem;
}

.profileimage {
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.5rem;
  fill: #777777;
  background-size: cover;
}

.name {
  color: #374557;
  font-size: 20px;
  margin: 0;
  margin-top: 1rem;
}

.stats {
  box-sizing: border-box;
  padding: 0 1rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 0.5rem;
}

.singlestat {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.singlestat p {
  text-align: center;
}
.achievement_level {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  max-width: auto;
  width: 6rem;
  padding: 0 1rem;
  height: 1.5rem;
  border: 1px solid #e75e46;
  margin: 0.5rem 0 1rem 0;
  align-items: center;
  border-radius: 1rem;
  color: #e75e46;
}

/* Css for spinner loading button */
.spinnerDiv{
  width: 100vw;
  height: 100vh;
  z-index: 1000000000;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.208);
  position:absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 10%;
  height: 10%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submit_details:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.photo_select {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  height: 2.5rem;
  border: 1px solid #898989;
  border-radius: 1rem;
}
.photo_select::file-selector-button {
  background-color: #dbdbdb;
  height: 2.5rem;
  /* width: 7rem; */
  border: none;
  padding: 0 0.5rem;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.submit_details {
  padding: 0.7rem 0.5rem;
  background-color: #e75e46;
  border: none;
  position: sticky;
  float: right;
  margin-top: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: 700;
  /* font-family: "Asap", sans-serif; */
  cursor: pointer;
  /* color: #fff; */
  /* font-size: 16px; */
  /* text-transform: uppercase; */
  /* width: 100%; */
  /* border: 0; */
  /* padding: 10px 0; */
  /* border-radius: 5px; */
  /* background-color: #f45b69; */
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  transition: background-color 300ms;
}
.submit_details:hover {
  background-color: #f24353;
}
/* for profile picture */
.profilePicWrapper{
  height: 5rem;
  width: 5rem;
  position: relative;
  overflow: hidden;
}
.profilePicWrapper img {
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* for tablet */
@media screen and (max-width: 950px) {
  
  .double-labels {
    width: 100%;
  }
  .emailinput {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  /* phone responsiveness */

  .container {  
    display: flex;
    flex-flow: column;
    gap: 1.8rem;
    width: 100vw;
  }

  .page-titles {
    box-sizing: border-box;
    background-color: white;
    padding: 0.8rem 0 0.6rem 1rem;
    width: 92%;
    color: #828690;
    font-weight: 400;
    font-size: 1.125rem;
    border-radius: 10px;
    height: 3rem;
  }

  .page-body {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    /* height: 20rem; */
    margin: 0rem auto 0.5rem auto;
    gap: 1rem;
    padding: 0 1rem;
    flex-wrap: wrap;
  }

  .profile-view {
    width: 100%;
    /* padding: 0.8rem 0 0.6rem 1rem; */
    background-color: white;
    border-radius: 10px;
    height: 25rem;
    box-shadow: 2px 0px 1rem rgba(0, 0, 0, 0.2);
  }

  .profile-edit {
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    padding: 1rem;
    overflow: hidden;
    box-shadow: 2px 0px 1rem rgba(0, 0, 0, 0.2);
    margin: auto;
  }

  .double-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.7rem;
    gap: 1rem;
    width: 100%;
  }
  .emailinput {
    width: 92%;
  }
  .double-labels {
    display: flex;
    flex-flow: column;
    width: 100%;
  }
  .details {
    padding-left: 0;
  }
}

/* for fold */
@media screen and (max-width: 280px) {
  .double-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.7rem;
    gap: 1rem;
    width: 100%;
  }
  .double-labels {
    width: 100%;
  }
  .emailinput {
    width: 90%;
  }
}
