.body {
  margin-left: 15rem;
  box-sizing: border-box;
  padding: 5rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  width: 100%;
}

@media screen and (max-width: 950px) {
  .containerWithSidePanel{
    width: 100vw;
  height: 100vh;
  z-index: 10;
  position:absolute;
  top: 0;
  left: 0;
  }
  .body {
    margin-left: 0rem;
  }
}
