.Progressindiactor {
  margin-right: 1rem;
}

.Parentdiv {
  height: 1.5rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2rem;
  border: 1.5px solid black;
  display: flex;
  margin-bottom: 1rem;
  overflow: hidden;
}
.progressheading {
  display: flex;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  color: #161a37;
  font-weight: 900;
}
.Childdiv {
  height: "100%";
  text-align: "right";
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.progresstext {
  padding: 10;
  left: 50%;
  transform: translateX(-50%);
  color: #161a37;
  font-weight: 900;
}
.progressheadingPhone {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  justify-content: space-between;
  color: #161a37;
  font-weight: 900;
}
.progresstextPhone {
  color: #161a37;
  display: flex;
  flex-direction: row;
  font-weight: 900;
  justify-content: right;
  align-items: flex-end;
  margin-bottom: 0.5rem;
}
.ParentdivPhone {
  height: 1.5rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2rem;
  border: 1.5px solid black;
  display: flex;
  overflow: hidden;
  /* margin-bottom: 1rem; */
}
