.dashboardintro {
  box-sizing: border-box;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 2rem;
  justify-content: space-evenly;
  /* background-color: aqua; */
}
.welcomediv {
  background-color: #e75e46;
  width: 45%;
  height: 70vh;
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3);
  border-radius: 0.7rem;
}
.ai {
  background-color: #ffffff;
  width: 45%;
  height: 70vh;
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3);
  border-radius: 0.7rem;
}

@media screen and (max-width: 600px) {
  .dashboardintro {
    box-sizing: border-box;
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 0rem;
    justify-content: space-evenly;
  }

  .welcomediv {
    background-color: #e75e46;
    width: 27rem;
    height: 25rem;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3);
    border-radius: 0.7rem;
  }
  .ai {
    background-color: #ffffff;
    width: 27rem;
    height: 25rem;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3);
    border-radius: 0.7rem;
  }
}
