.lecture_wrapper {
  box-sizing: border-box;
  margin: 0 2rem 0.5rem 2rem;
  padding: 0rem 0.5rem 0.5rem 0.5rem;
  border-bottom: 1px solid rgba(22, 26, 55, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 1rem;
  cursor: pointer;
  background-color: aliceblue;
}
.completion {
  /* height: 0.5rem;
  width: 0.5rem; */
  width: 2rem;
  height: 1.2rem;
  /* border: 1px solid black; */
  border-radius: 2px;
}
.complete::after {
  /* background-color: green; */
  content: "\2713";
  /* width: 0.2rem; */
  font-size: 1.2rem;
  color: green;
}
