.statscontainer {
  box-sizing: border-box;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 0;
  justify-content: space-evenly;
}
@media screen and (max-width: 600px) {
  .statscontainer {
    box-sizing: border-box;
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 2rem 0;
    justify-content: space-evenly;
  }
}
