.course_title {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  /* width: 100%; */
  background-color: rgb(189, 189, 189);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border-radius: 0 0 0.3rem 0.3rem;
  color: #000000;
  cursor: pointer;
  user-select: none;
  margin: 0.1rem 1rem 0.1rem 0;
}
.course_title:hover {
  background-color: rgb(199, 199, 199);
}
.more {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}
.sections {
  animation: loadsections 0.4s;
  position: relative;
}
@keyframes loadsections {
  from {
    opacity: 0;

    height: 0;
  }

  to {
    opacity: 1;

    height: 100%;
  }
}
