.profile_panel {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  width: 4rem;
  height: 85vh;
  position: fixed;
  right: 0;
  background-color: #fff;
  z-index: 2000;
  border-radius: 1rem 0 0rem 1rem;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: -5px 0 2rem rgba(58, 58, 58, 0.427);
  transition: all 0.3s;
}
.closed {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  width: 4rem;
  height: 90vh;
  position: fixed;
  right: -4rem;
  background-color: #fff;
  z-index: 2000;
  border-radius: 1rem 0 0rem 1rem;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: -5px 0 2rem rgba(58, 58, 58, 0.427);
  transition: all 0.3s;
}
.profile_panel_item {
  font-size: 2.5rem;
  color: rgb(0, 70, 150);
  transition: all 0.3s;
  padding-top: 3rem;
  cursor: pointer;
}

/* .profile_panel_item:hover {
  transform: scale(1.02);
} */

.controller_button {
  font-weight: 300;
  font-size: 1.5rem;
  color: #e75e46;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  position: absolute;

  border-radius: 0rem 0.5rem 0.5rem 0rem;
  transition: all 0.3s;
}

.open {
  background-color: #161a37;
  right: 4rem;
  top: 2.5rem;
  transform: rotate(180deg);
  transition: all 0.3s;
}
.close {
  right: 1rem;
  background-color: #fff;
  transition: all 0.3s;
}
