@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
.loginpage {
  height: 100vh;
  width: 100vw;
  /* background-image: url('../../assets//lower-resolution.jpg'); */
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(100px);
  overflow: hidden;
}
.login {
  display: flex;
  flex-direction: column;
  width: 25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #161a37;
  padding: 2rem;
  border-radius: 1.5rem;
  height: 30rem;
  gap: 0rem;

  /* font-family: "Asap", sans-serif;
  overflow: hidden;
  background-color: #161a37;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30rem;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
  -moz-transition: -moz-transform 300ms, box-shadow 300ms;
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
  height: 30rem;
  padding: 2rem; */
}
/* .login::before,
.login::after {
  content: "";
  position: absolute;
  width: 900px;
  height: 700px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}
.login::before {
  left: 40%;
  bottom: -130%;
  background-color: #ffa0b9;
  -webkit-animation: wawes 6s infinite linear;
  -moz-animation: wawes 6s infinite linear;
  animation: wawes 6s infinite linear;
} */
.logo_named{
    width: 70%;
}


.logowrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.logo_image {
  width: 7rem;
}
.login h1 {
  margin: 0;
}
.login h3 {
  margin: 0.5rem;
}
.login h4 {
  margin: 0.5rem;
}

.label {
  margin: 3rem;
}
.rememberme {
  margin: 1rem 0;
}

.subloginheading {
  color: white;
  text-align: center;
}
.credentials>input {
  margin-top: 5px;
  height: 1.5rem;
  padding: 5px;
  width: 97.5%;
  border-radius: 5px;
  border: none;
}
.credentials h4 {
  margin-bottom: 0;
  color: white;
}
.showPassword{
  color:white;
  font-size: 0.7rem;
  display: flex;
  accent-color: #f24353;
}
.showPassword>input{
  width: 10%;
  margin:0;
  cursor: pointer;
  height: 0.7rem;
  margin-top: 0.75rem;
  border-radius: 50%;
  margin-left: -0.5rem;
}

.rememberme {
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
}
.credentialsError{
  /* flex-basis: 100%; */
  margin-bottom: 1.5rem;
  color:red;
  margin-left: auto;
  margin-right: auto;
  margin-top:0;
}
/* .login::after {
  left: 35%;
  bottom: -125%;
  background-color: #f05dd87d;
  -webkit-animation: wawes 7s infinite;
  -moz-animation: wawes 7s infinite;
  animation: wawes 7s infinite;
}
.login > input {
  font-family: "Asap", sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 1px solid rgba(109, 108, 108, 0.489);
  padding: 10px 10px;

} */
.login > input:focus {
  outline: none;
  border: 1px solid rgb(255, 94, 236);
}
.login > button {
  font-family: "Asap", sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 100%;
  border: 0;
  padding: 10px 0;
  border-radius: 5px;
  background-color: #f45b69;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  transition: background-color 300ms;
}
.login > button:hover {
  background-color: #f24353;
}

.login h1 {
  font-size: 32px;
  color: white;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  font-family: "Poppins";
}
.login > h4 {
  font-weight: 100;
  color: white;
}

a {
  color: white;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  text-align: center;
}

.customcheckbox {
  accent-color: #f24353;
  cursor: pointer;
  margin-right: 10px;
}

/* Css for spinner loading button */
.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submit-btn:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}


@media screen and (max-width: 600px) {
  .login h1 {
    font-size: 20px;
  }
  .login h3 {
    font-size: 15px;
  }
  .login h4 {
    font-size: 10px;
  }
  .logo_named{
    width: 100%;
    margin-left:0.5rem;
  }
  /* .loginpage {
    margin-top: 20px;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(100px);
    overflow: hidden;
  } */
  .login {
    /* font-family: "Asap", sans-serif;
    overflow: hidden;
    background-color: #161a37;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 40%;
    left: 50%;
    width: 15rem;
    height: 20rem;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
    -moz-transition: -moz-transform 300ms, box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2); */
    display: flex;
    width: 16.5rem;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .login > input:focus {
    outline: none;
    border: 1px solid rgb(255, 94, 236);
  }
  .credentialsError{
    text-align: center;
    /* width: 80%; */
  }
  .customcheckbox {
    height: 12px;
    margin-top: 8px;
  }
  .login a {
    font-size: 10px;
  }
}

@media screen and (max-width:400px) {
  .login{
    width: 70%;
    height: 65%;
  }
  .credentialsError{
    font-size: small;
    margin-bottom: 0.5rem;
  }
  .showPassword>input{
    width: 10%;
    margin:0;
    height: 0.7rem;
    margin-top: 0.7rem;
    border-radius: 50%;
    margin-right: 0.3rem;
  }
}
