@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  background-color: #eff3f7;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
